[Desktop Entry]
Name=wmFsm
Comment=Disk free space Monitor
Comment[pl]=Monitor wolnej przestrzeni dysku
Exec=wmfsm
Terminal=0
Type=Application
# vi: encoding=utf-8
