[Desktop Entry]
Name=WmFsm
Comment=Disk free space Monitor
Comment[pl]=Monitor wolnej przestrzeni dysku
Exec=wmfsm
Terminal=false
Type=Application
Categories=Applet;
NotShowIn=GNOME;KDE;
# vi: encoding=utf-8
